 <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <h1 *ngIf="!loaded">Loading...</h1>
        <h1 *ngIf="loaded && size == 0">No Results</h1>
        <tr *ngFor="let userTableItem of results">
            <td style="width: 10%;">{{userTableItem.id}}</td>
            <td style="width: 20%;">{{userTableItem.username}}</td>
            <td style="width: 40%;">{{userTableItem.email}}</td>
            <td>
                <button (click)="viewUser(userTableItem.id)">View</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="pagnation">
    <form [formGroup]="pagnationForm">
        <div  class="filter">
            <h3>Size</h3>
            <select formControlName="max">
                <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
            </select>
        </div>
        <div  class="filter">
            <h3>Page</h3>
            <ul>
                <li *ngFor="let page of getPages()">
                    <button (click)="updatePage(page)">{{page}}</button>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="actions">
    <button (click)="createUser()">Create</button>
</div>
