<form [formGroup]="form" (ngSubmit)="submit()">
    <input id="username" placeholder="Username" formControlName="username"
    [ngClass]="form.controls['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched) ? 'formError' : ''">
    <input id="email" placeholder="Email" formControlName="email" type="email"
    [ngClass]="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched) ? 'formError' : ''">
    <input id="password" placeholder="Password" formControlName="password" *ngIf="form.controls['password']" type="password"
    [ngClass]="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched) ? 'formError' : ''">
    <input id="passwordConfirm" placeholder="Confirm Password" formControlName="passwordConfirm" *ngIf="form.controls['passwordConfirm']" type="password"
    [ngClass]="form.controls['passwordConfirm'].invalid && (form.controls['passwordConfirm'].dirty || form.controls['passwordConfirm'].touched) ? 'formError' : ''">
    <div class="formMessage" *ngIf="!form.valid">
        <h3 >{{response}}</h3>
    </div>
    <br/>
    <button class="button" type="submit" [disabled]="!form.valid || (form.valid && !form.dirty)">{{userData.id == "0" ? "Create" : "Save"}}</button>
</form>

<!-- <br/>
<p>name invalid: {{ form.controls['username'].invalid | json }}</p>
<p>name dirty: {{ form.controls['username'].dirty | json }}</p>
<p>name touched: {{ form.controls['username'].touched | json }}</p>

<br/>
<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>
<p>Form status: {{ form.dirty | json }}</p> -->