<div class="text-center">
	<label style="display: block">Avatar Upload:</label>
	<div class="fileUpload">
		<label for="chooose" class="chooose">Choose</label>
		<label class="fileName">
			{{
				!loaded
					? 'Loading...'
					: pending
					? 'Updating...'
					: uploadedFileName || 'Please select a file'
			}}
		</label>
		<label (click)="delete()" class="delete" *ngIf="uploadedFileName">X</label>
		<input
			type="file"
			id="chooose"
			(change)="onChange($event)"
			style="display: none" />
	</div>
</div>
