<form [formGroup]="loginForm" (ngSubmit)="submit()">

    <input id="username" placeholder="Username" formControlName="username"
    [ngClass]="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched) ? 'formError' : ''">
    <!-- maybe could use the pre assigned classes?!?!  -->
    <input id="password" placeholder="Password" formControlName="password"
    [ngClass]="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) ? 'formError' : ''">
    <br/>
    <button class="button" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<br/>
<p>name invalid: {{ loginForm.controls['username'].invalid | json }}</p>
<p>name dirty: {{ loginForm.controls['username'].dirty | json }}</p>
<p>name touched: {{ loginForm.controls['username'].touched | json }}</p>

<br/>
<p>Form value: {{ loginForm.value | json }}</p>
<p>Form status: {{ loginForm.status | json }}</p>
