<form [formGroup]="form" (ngSubmit)="submit()">
	<input
		id="username"
		placeholder="Username"
		formControlName="username"
		[ngClass]="
			form.controls['username'].invalid &&
			(form.controls['username'].dirty || form.controls['username'].touched)
				? 'formError'
				: ''
		" />
	<input
		id="password"
		placeholder="Password"
		formControlName="password"
		type="password"
		[ngClass]="
			form.controls['password'].invalid &&
			(form.controls['password'].dirty || form.controls['password'].touched)
				? 'formError'
				: ''
		" />
	<br />
	<button class="button" type="submit" [disabled]="!form.valid">Login</button>
	<div class="formMessage" *ngIf="!form.valid">
		<h3>{{ response }}</h3>
	</div>
</form>
<!-- <p>name invalid: {{ form.controls['username'].invalid | json }}</p>
<p>name dirty: {{ form.controls['username'].dirty | json }}</p>
<p>name touched: {{ form.controls['username'].touched | json }}</p>

<br/>
<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p> -->
