<main class="profile-page">
	<app-page-header header="Profile" id="{{ userId }}"></app-page-header>
	<div class="content">
		<div *ngIf="!loaded">
			<h3>Loading...</h3>
		</div>
		<div *ngIf="loaded">
			<div *ngIf="avatarUrl" class="avatarDisplay">
				<img [src]="avatarUrl" title="Avatar" />
			</div>
			<div class="info">
				<h3>{{ username }}</h3>
				<div *ngIf="email">
					<h5>{{ email }}</h5>
				</div>
			</div>
			<div class="spacing"></div>
			<app-avatar-upload></app-avatar-upload>
			<div class="spacing"></div>
			<div class="buttons">
				<div>
					<button class="button" (click)="logout()">Logout</button>
					<button class="button" (click)="onClick()">Logout</button>
				</div>
			</div>
		</div>
	</div>
</main>
