table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead{
    color: black;
    background-color: var(--primary);
    font-size: 20px;
}
  
tbody {
    font-size: 16px;
}

table td + td { 
    border-left:1px solid white;
}

table th + th { 
    border-left:1px solid black;
}

table, thead, tbody, tr {
    border: none;
}

tr.data{
    border-bottom:1px solid white;
}

tr.data:last-child{
    border-bottom: none;
}

th, td, .pagnation {
    padding: 0.5rem;
}

.pagnation {
    width: 100%;
    color: black;
    background-color: var(--primary);
    height: 21%;
}

.filter{
    margin-right: 0.75rem;
}

.filter .results{
    font-weight: normal;
}

.filter, select, ul, li, h3{
    display: inline-block;
}

.pagnation h3 {
    font-size: 16px;
    margin-right: 0.75rem;
}

.pagnation button {
    font-size: 16px;
    margin-right: 0.75rem;
    color: black;
    text-decoration: underline;
}