<main class="userDetails-page">
    <app-page-header header="User Details" id="{{userId}}"></app-page-header>
    <h3 *ngIf="!loaded">Loading...</h3>
    <h3 *ngIf="loaded && !found">No Results</h3>
    <div class="form" *ngIf="loaded && found">
        <form [formGroup]="userForm" (ngSubmit)="submit()">
            <div>
                <label for="username">
                  Username
                </label>
                <input id="username" type="text" formControlName="username" value="{{this.userForm.value.username}}">
            </div>
            <button type="submit" >Save</button>
        </form>
    </div>
</main>