<main class="userDetails-page">
	<app-page-header
		header="User Details"
		id="{{ userDetailsId }}"></app-page-header>
	<div class="content">
		<div *ngIf="!found && !loaded"><h3>Loading...</h3></div>
		<div *ngIf="!found && loaded"><h3>Not found</h3></div>
		<div *ngIf="found && loaded">
			<app-user-form [userDetails]="userDetails"></app-user-form>
			<div *ngIf="avatarUrl" class="avatarDisplay">
				<img [src]="avatarUrl" title="Avatar" />
			</div>
			<div class="statusDisplay" *ngIf="mutuals">
				<h2>Mutuals</h2>
				<span class="material-icons">swap_horiz</span>
			</div>

			<div *ngIf="lastLoggedIn" class="dataTimeDisplay">
				<h2>{{ lastLoggedIn | date : 'short' : 'UTC' }}</h2>
			</div>
			<div class="social buttons" *ngIf="!currentUser && userDetailsId != '0'">
				<button class="button" *ngIf="!followingId" (click)="followUser()">
					Follow
				</button>
				<button class="button" *ngIf="followingId" (click)="unfollowUser()">
					Unfollow
				</button>
			</div>
		</div>
	</div>
</main>
