<aside>

    <span>
      <h3>Menu</h3>
      <div class="menu">
        <a routerLink="/" class="item" title="Home">
          <span class="material-icons">home</span>
          <span class="text">Home</span>
        </a>
        <a routerLink="/about" class="item" title="About">
          <span class="material-icons">list</span>
          <span class="text">About</span>
        </a>
      </div>
    </span>

    <span *ngIf="(isLoggedIn$ | async)">
      <h3>Admin</h3>
      <div class="menu">
        <a routerLink="/users" class="item" title="Users">
          <span class="material-icons">group</span>
          <span class="text">Users</span>
        </a>
      </div>
    </span>

    <div class="flex"></div>

    <span>
      <div class="menu">
        <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login" class="item" title="Login">
          <span class="material-icons">account_circle</span>
          <span class="text">Login</span>
        </a>
        <a *ngIf="(isLoggedIn$ | async)" routerLink="/profile" class="item" title="Profile">
          <span *ngIf="!(avatarUrl$ | async)" class="material-icons">account_circle</span>
          <img *ngIf="avatarUrl$ | async" [src]="avatarUrl$ | async" alt="" class="avatar">
          <span class="text">Profile</span>
        </a>
      </div>
    </span>

</aside>
