// Imports
// @import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

// Main
:root {
	--primary: #ffff00;
	--primary-alt: #121212;
	--grey: #64748b;
	--lightgrey: #d3d3d3;
	--black: #000000;
	--black-alt: #181818;
	--light: #f1f5f9;
	--sidebar-width: 300px;
	//--bs-body-bg: var(--black)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

html,
body {
	height: 100%;
}

body {
	background: var(--black);
	margin: 0;
}

.app {
	display: flex;
	.main {
		flex: 1 1 0;
		margin: 2rem;
		background-color: var(--black);
		border: 1px solid var(--primary);
		color: white;
	}
}

// Content
.content {
	padding: 1rem;
}

.info {
}

.info h3 {
	display: inline-block;
}

.spacing {
	height: 1rem;
}

.dataTimeDisplay,
.statusDisplay {
	display: inline-flex;
	float: right;
}
.dataTimeDisplay {
	clear: right;
}
.dataTimeDisplay h2,
.statusDisplay h2 {
	font-size: 13.333px;
}
.statusDisplay h2,
.statusDisplay .material-icons {
	line-height: 2rem;
}
.statusDisplay .material-icons {
	color: var(--primary);
}

.statusDisplay .material-icons {
	margin: 0px 5px;
}

// Images
.avatarDisplay {
	display: inline;
}

.avatarDisplay img {
	float: right;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 1px solid var(--primary);
}

// Buttons
button {
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	background-color: var(--primary);
	color: black;
	font-weight: bold;
	padding: 6px 8px;
	height: 100%;
}
button:hover {
	background-color: black;
	color: var(--primary);
}
button:disabled {
	cursor: not-allowed;
}
.buttons {
	display: flex;
}
.buttons-right {
	float: right;
}

.altButton {
	background-color: black;
	color: var(--primary);
}
.altButton:hover {
	background-color: var(--primary);
	color: black
}

// Forms
.form {
	display: inline-block;
}

input {
	outline: none;
	border: none;
	padding: 6px;
}

input:focus {
	box-shadow: inset 0 0 5px black;
}

input:disabled {
	cursor: text;
	background-color: white;
	color: blakc;
	border: none;
}

.formError {
	box-shadow: inset 0 0 5px red !important;
}

.formMessage {
	color: red;
	display: inline-block;
	font-size: 13.333px;
	margin-left: 5px;
	position: absolute;
}
