:root {
	--primary: #FFFF00;
	--primary-alt: #121212;
	--grey: #64748b;
	--lightgrey: #d3d3d3;
	--black: #000000;
	--black-alt: #181818;
	--light: #f1f5f9;
	--sidebar-width: 300px;
    //--bs-body-bg: var(--black)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 	font-family: 'Roboto Mono', monospace;
}

html, body { 
	height: 100%; 
}

body {
	background: var(--black);
	margin: 0; 
}

button {
	cursor: pointer;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	color: var(--primary);
}

.warning{
	color:red;
}

.app {
	display: flex;
	.main {
		flex: 1 1 0;
		margin: 2rem;
		//padding: 2rem;
		background-color: var(--black);
		border: 1px solid var(--primary);
		//border-radius: 0.5rem;
		@media (max-width: 1024px) {
			padding-left: 6rem;
		}
		color: white;
	}
}

.content{
	padding: 1rem;
}

.actionBtn {
  background-color: var(--primary);
  color: black;
  padding: 0.75rem 1rem;
  font-weight: bold;
}
.actionBtn:hover {
  background-color: var(--black);
  color: var(--white);
}

.formContainer label{
	margin: 0px 1rem 0 0;
}

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

@import 'ngx-toastr/toastr';


button:disabled{
	cursor: not-allowed;
}