[Unit]
Description=App Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /opt/cangular/infra/app/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f /opt/cangular/infra/app/docker-compose.yml stop"
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target