table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	font-size: 16px;
}

thead {
	color: black;
	background-color: var(--primary);
	user-select: none;
}

tbody {

}

tr{
	height:40px
}

tr{
	height:100%
}

table td + td {
	border-left: 1px solid white;
}

table th + th {
	border-left: 1px solid black;
}

table,
thead,
tbody,
tr {
	border: none;
}

tr.data {
	border-bottom: 1px solid white;
}

tr.data:last-child {
	border-bottom: none;
}

th,
td,
.pagnation {
	padding: 0.25rem;
}

.pagnation {
	width: 100%;
	color: black;
	background-color: var(--primary);
	user-select: none;
}

.filter {
	margin-right: 0.75rem;
}

.filter,
select,
ul,
li,
h3 {
	display: inline-block;
}

.pagnation h3 {
	font-size: 16px;
	margin-right: 0.75rem;
}

.pagnation button {
	font-size: 16px;
	margin-right: 0.75rem;
	color: black;
	text-decoration: underline;
}

.search {
	display: inline-block;
}
